*{
    margin:0;
    padding:0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(215, 250, 223); */
}

:root{
    --main-color:#6400e4;
    --box-shadow:0px 3px 5px 0px rgba(0,0,0,0.34);
    --hover-shadow:0px 4px 4px 0px rgba(3, 3, 3, 0.561);
    --nav-shadow:0px 0px 10px 0px rgba(0,0,0,0.100);
    --light-black:#141c3a;
  }
  .header {
    background-color: rgb(125, 98, 198);
    box-shadow: var(--box-shadow);
    border-radius: 3px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
.container{
    width: 25%;
    margin: 100px auto;
    /* border: 2px solid black; */
    /* background-color: white; */
  }

  form {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
  }

  form label {
    margin: 5px 0;
  }

  form input[type="text"],input[type="password"]{
    margin: 5px 0;
    height: 55px;
    border: 0.5px solid #b8b8b85d;
    border-radius: 3px;
    padding: 0 15px;
    font-size:20px;
    font-family:  Arial, Helvetica, sans-serif;
  }
  form a{
    margin: 10px 0;
    text-decoration: none;
    color: var(--main-color);
    font-weight:bold;
  }

  form input[type="submit"]{
    margin: 10px 0;
    height:50px;
    background:var(--main-color);
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 3px;
    color:white;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: 0.1s ease;
  }

  form input[type="submit"]:hover{
    box-shadow:var(--hover-shadow);
    transform: translateY(-3px);
  }

  .footer h3{
    font-size: 16px;
    opacity:0.9;
  }

  .footer .images{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content:space-around;
    margin-top: 15px;
  }
  
  .footer .images img{
    width:5.3%;
    border: 1px solid #e7e7e7;
    padding: 15px;
    border-radius:50%;
    transition: 0.3s ease;
  }
  
  .footer .images img:hover{
    box-shadow: var(--box-shadow);
    cursor: pointer;
  }

  .container a {
    float: right;
    color: var(--main-color);
    margin:10px 0;
  }